@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: whitesmoke;
  font-size: 0.9rem;
  line-height: 1.7;
  background-color: #121212;
  font-family: "Zen Antique", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: #121212;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.site-title a {
  max-width: 120px;
  object-fit: cover;
  display: block;
  padding: 2% 0;
}

.sec-title {
  font-size: 2.25rem;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
}

.icon {
  width: 2.5rem;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 0);
}

/*
フェード表示させる要素に使用するためのクラス
*/
.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}

/*========= LoadingのためのCSS ===============*/

/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  text-align: center;
  color: #fff;
}

/* Loading画像中央配置　*/
#splash_text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
  width: 100%;
  text-transform: uppercase;
  animation: textShadow 6s infinite;
}

@keyframes textShadow {
  0% {
    text-shadow: none;
  }

  60% {
    text-shadow: 3px 3px 7px #212121,
      -3px -3px 7px #efefef;
  }
}

/*割れる画面のアニメーション*/
.loader_cover {
  width: 100%;
  height: 50%;
  background-color: #333;
  transition: all .2s cubic-bezier(.04, .435, .315, .9);
  transform: scaleY(1);
}

/*上の画面*/
.loader_cover-up {
  transform-origin: center top;
}

/*下の画面*/
.loader_cover-down {
  position: absolute;
  bottom: 0;
  transform-origin: center bottom;
}

/*クラス名がついたらY軸方向に0*/
.coveranime {
  transform: scaleY(0);
}

#loading-icon {
  margin-top: 100px;
}


/*-------------------------------------------
ヘッダー
-------------------------------------------*/

#header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  position: fixed;
  z-index: 10;
  background-color: white;
}

#navi {
  width: 100%;
  display: flex;
}

.nav-menu {
  width: 84%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3em;
  padding: 0 3%;
}

.nav-menu li {
  margin: 0 1%;
}

.nav-menu a {
  text-align: center;
  display: block;
  width: 80px;
  position: relative;
}

.nav-menu a::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-color: #820b0b;
  z-index: -1;
  transition: scale .4s ease;
  scale: 0 1;
  transform-origin: right;
}

.nav-menu a:hover::before {
  scale: 1;
  transform-origin: left;
}

.nav-menu a:hover {
  color: #fff;
  transition: all .3s;
}

.nav-sns {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sns-icon {
  max-width: 80%;
  display: inline-block;
  margin: 0 2%;
}

.sns-name {
  display: none;
}

.sns-icon:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

/*-------------------------------------------
Main
-------------------------------------------*/
#main {
  padding-top: 80px;
  position: relative;
  overflow-x: hidden;
}


.main-visual {
  width: 100%;
  height: 120vh;
  position: relative;
}

.main-video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.fade-video li {
  /* アニメーションを実行
  fade：下で定義している「@keyframes fade」を実行
  15s：「@keyframes fade」の処理を9秒かけて実行
  infinite：アニメーションの処理を無限に繰り返す */
  animation: fade 12s infinite;
}

/*
1枚目の画像のアニメーション実行タイミングを設定
「animation-delay: 0s;」ですぐに実行
*/
.fade-video li:nth-child(1) {
  animation-delay: 3s;
}

/*
2枚目の画像のアニメーション実行タイミングを設定
「animation-delay: 3s;」で3秒後に実行
*/
.fade-video li:nth-child(2) {
  animation-delay: 6s;
}

/*
3枚目の画像のアニメーション実行タイミングを設定
「animation-delay: 6s;」で8秒後に実行
*/
.fade-video li:nth-child(3) {
  animation-delay: 9s;
}

/*
アニメーション処理
上の「animation」で10sを指定しているので下記の処理を10秒かけて実行
0%が0秒を表し、100%が10秒後を表す。

0%の「opacity: 0;」で非表示の状態からスタートし、
15%になるまでの間に少しづつ画像を表示（フェードイン）させる。
そこから30%の時点までは画像を表示させたままの状態を維持し、
45%の時点に向けて画像を非表示（フェードアウト）する。
そこから100%まで非表示の状態を維持する。
*/
@keyframes fade {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.main-word {
  max-width: 100%;
  display: block;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 2%;
  transform: translate(-50%, 0);
  font-size: 6em;
  font-family: "Zen Antique", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  word-break: keep-all;
  z-index: 1;
}

.sub-word {
  max-width: 100%;
  display: block;
  color: #fff;
  position: absolute;
  left: 2%;
  top: 2%;
  font-size: 7em;
  font-family: "Zen Antique", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  writing-mode: vertical-lr;
  z-index: 1;
}



/*-------------------------------------------
About
-------------------------------------------*/
#about {
  max-width: 100%;
  margin: 5% auto;
  padding-top: 100px;
}

.about-area {
  width: 100%;
  height: 60vh;
  background-image: url("https://github.com/ryoichi-kuroda/akitabeef/blob/main/img/wagyu1.jpg?raw=true");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  position: relative;
}

.about-text {
  min-width: calc(100% / 3);
  height: 60vh;
  font-size: 1.3rem;
  color: #121212;
  align-items: center;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(255, 255, 255, 0.562);
}

.about-text p {
  display: inline-block;
  padding: 5% 10% 10% 10%;
}

.about-text h3 {
  padding-top: 3%;
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}

.about-text::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-color: #820b0b;
  z-index: -1;
  transition: scale .4s ease;
  scale: 0 1;
  transform-origin: right;
}

.about-text:hover::before {
  scale: 1;
  transform-origin: left;
}

.about-text:hover {
  color: #fff;
  transition: all .3s;
}


.standard-title {
  display: block;
  text-align: center;
  margin: 3% 3%;
  font-size: 1.5em;
  font-weight: normal;
  word-break: keep-all;
}

.standard-list {
  max-width: 1240px;
  max-height: 1000px;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.standard-list li {
  width: 200px;
  height: 200px;
  margin: 2%;
  border: solid 1px #fff;
  border-radius: 50%;
  color: #121212;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(90deg, #b39855 0%, #fff9e6 50%, #b39855 100%);
  transition: .5s;
}

.title {
  font-size: 1.4rem;
  position: relative;
  margin-top: 5%;
  margin-bottom: 10%;
}

.title::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 1px;
  background-color: #121212;
}

.standard-list p {
  width: 200px;
  font-size: 1.4rem;
  line-height: normal;
  display: inline-block;
}

.standard-list li:hover {
  background: linear-gradient(90deg, #b39855 0%, #fff 50%, #b39855 100%);
  color: #820b0b;
  transform: scale(1.1);
}

.standard-list img {
  width: 20%;
  margin: 5% auto;
}

/*-------------------------------------------
Concept
-------------------------------------------*/
/* 厳選 */
#concept {
  width: 100%;
  padding: 120px 0 0 0;
  text-align: center;
}

.concept-word {
  max-width: 100%;
  display: block;
  color: #fff;
  position: absolute;
  left: -30%;
  top: 5%;
  font-size: 7rem;
  font-family: "Zen Antique", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  writing-mode: vertical-lr;
}

.container-1 {
  width: 60%;
  padding: 3% 3%;
  margin: 5% 20%;
  display: flex;
  flex-direction: column;
  background-color: #820b0b;
  position: relative;
}

.concept-1 {
  font-size: 7em;
  margin-top: -12%;
  margin-left: -25%;
}

.concept-text-1 {
  font-size: 1.5rem;
  text-align: left;
  word-break: keep-all;
}

.image-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5% 0;
}

.cut-image-1 {
  width: 45%;
  z-index: 1;
  margin-right: -70%;
  margin-top: 0;
}

.cut-image-2 {
  width: 60%;
  margin-top: -50%;
  margin-left: -20%;
}

.cut-image-3 {
  width: 40%;
  z-index: 1;
  margin-left: -80%;
  margin-top: -30%;
}

.cut-image-4 {
  width: 70%;
  margin-right: -60%;
  margin-top: -40%;
}

.cut-image-5 {
  margin-top: -20%;
  margin-left: -40%;
}

/* 技術 */
.container-2 {
  width: 60%;
  padding: 3% 3%;
  margin: 5% 20%;
  display: flex;
  flex-direction: column;
  background-color: #820b0b;
  position: relative;
}

.concept-2 {
  font-size: 7em;
  margin-top: -12%;
  margin-right: -40%;
}

.concept-text-2 {
  font-size: 1.5em;
  text-align: right;
  z-index: 1;
}

.video .bg-video {
  object-fit: cover;
  height: 100%;
  width: 150%;
}

.bg-video {
  margin-top: 40%;
  margin-right: -20%;
}

.fade li {
  width: 100%;
  height: 700px;
  position: absolute;
  top: 26%;
  left: -8%;
  /* 最初は3枚の画像を非表示にしておく */
  opacity: 0;
  /*
  アニメーションを実行
  fade：下で定義している「@keyframes fade」を実行
  15s：「@keyframes fade」の処理を15秒かけて実行
  infinite：アニメーションの処理を無限に繰り返す
  */
  animation: fade 9s infinite;
}

/*
1枚目の画像のアニメーション実行タイミングを設定
「animation-delay: 0s;」ですぐに実行
*/
.fade li:nth-child(1) {
  animation-delay: 0s;
}

/*
2枚目の画像のアニメーション実行タイミングを設定
「animation-delay: 5s;」で5秒後に実行
*/
.fade li:nth-child(2) {
  animation-delay: 3s;
}

/*
3枚目の画像のアニメーション実行タイミングを設定
「animation-delay: 10s;」で10秒後に実行
*/
.fade li:nth-child(3) {
  animation-delay: 6s;
}

.fade li img {
  width: 70%;
  height: 40%;
  object-fit: cover;
}


/*
アニメーション処理
上の「animation」で15sを指定しているので下記の処理を15秒かけて実行
0%が0秒を表し、100%が15秒後を表す。

0%の「opacity: 0;」で非表示の状態からスタートし、
15%になるまでの間に少しづつ画像を表示（フェードイン）させる。
そこから30%の時点までは画像を表示させたままの状態を維持し、
45%の時点に向けて画像を非表示（フェードアウト）する。
そこから100%まで非表示の状態を維持する。
*/
@keyframes fade {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  45% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* 空間 */
.container-3 {
  width: 60%;
  height: 100%;
  padding: 3% 3%;
  margin: 5% 20%;
  display: flex;
  flex-direction: column;
  background-color: #820b0b;
  position: relative;
}

.concept-3 {
  font-size: 7em;
  margin-top: -15%;
}

.concept-text-3 {
  font-size: 1.5em;
  padding: 0 5%;
}

.interior-image-1 {
  width: 70vw;
  height: 80vh;
  margin-top: 5%;
  background-image: url("img/main1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.interior-image-2 {
  width: 70vw;
  height: 80vh;
  margin-top: 5%;
  margin-left: -20%;
  background-image: url("img/main2.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}


/*-------------------------------------------
Menu
-------------------------------------------*/
#menu {
  max-width: 1240px;
  padding: 120px 16px 50px;
  margin: -50px auto 10px;
}

#menu .grid .item {
  transition: all 0.3s ease;
  box-shadow: 0 0 8px 4px #ccc;
}

.item {
  height: 100vh;
  position: relative;
  margin: 3% 0;
}

.item img {
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

#menu .item-content {
  padding: 30px;
  transition: all .5s;
}


#menu .item-content:hover {
  background-color: rgba(255, 255, 255, 0.562);
  color: #121212;
}

#menu .grid .item-cat {
  font-size: 3rem;
  padding: 0 8%;
}

#menu .grid {
  font-weight: bold;
  margin-bottom: 20px;
}

.item dl {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 3% 0;
}

.item-content {
  width: 100%;
  height: 100vh;
  padding-bottom: 10%;
}

.item-content dt {
  width: 30%;
  padding: 8px 0;
}

.item-content dd {
  font-size: 1rem;
  width: 20%;
  padding-top: 18px;
}




/*-------------------------------------------
News
-------------------------------------------*/
#news {
  max-width: 1240px;
  margin: 0 auto;
  padding: 120px 5% 0 5%;
}

#news dl {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
  background-color: #ccc;
  color: #121212;
  padding: 3% 8%;
}

#news dt {
  width: 30%;
  border-top: 1px solid #121212;
  padding: 10px 0;
}

#news dd {
  width: 70%;
  border-top: 1px solid #121212;
  padding: 10px 0;
}

#news dd:last-child {
  border-bottom: 1px solid #121212;
}

#news dt:nth-child(5) {
  border-bottom: solid 1px #121212;
}

/*-------------------------------------------
Access
-------------------------------------------*/
#access {
  color: #fff;
  background-color: #121212;
  padding-top: 100px;
}

.google-map {
  max-width: 1240px;
  height: 50vh;
  margin: 0 auto;
  padding: 0 5%;
}

.google-map iframe {
  width: 100%;
  height: 100%;
}

.contact-info {
  max-width: 1240px;
  padding: 0 5%;
  margin: 5% auto;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
}

.contact-info dt {
  display: inline;
  border-bottom: 1px solid #fff;
}

.contact-info dl {
  margin-bottom: 5%;
}




/*-------------------------------------------
フッター
-------------------------------------------*/
#footer {
  height: 100px;
  color: #fff;
  background-color: #121212;
  text-align: center;
  font-size: 0.75rem;
  position: relative;
}

#footer p {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 50%;
  transform: translate(0, -50%);
}

.reserve-icon {
  width: 40%;
  display: inline-block;
  margin: 0 auto;
}

.reserve-btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  right: 25px;
  bottom: 25px;
  background-color: white;
  color: #121212;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: opacity 1.5s ease-out;
  z-index: 2;
}

.reserve-btn:hover {
  transition-duration: 0.5s;
  opacity: 0.6;
}

.reserve-btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 60px;
  left: 10px;
  width: 80%;
  height: 8px;
  border: none;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: skew(45deg);
  transition: .4s;
}


/*-------------------------------------------
メディアクエリ
-------------------------------------------*/
@media (max-width: 800px) {
  .sec-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  /*-------------------------------------------
  ヘッダー
  -------------------------------------------*/

  .toggle_btn {
    margin: 3% 0;
    right: 20px;
  }

  #navi {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    color: #121212;
    padding: 60px 25px;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.5s;
    z-index: 20;
    opacity: 0;
    overflow-y: hidden;
  }

  .nav-menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-sns {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-sns a {
    display: flex;
  }

  .sns-icon {
    background-color: #fff;
  }

  .sns-name {
    display: block;
    position: relative;
  }

  .sns-name::after {
    content: "";
    display: block;
    position: absolute;
    top: 30px;
    width: 80px;
    height: 8px;
    border: none;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: skew(45deg);
    transition: .4s;
  }

  .sns-name:hover::after {
    width: 120px;
  }

  .sns-icon:hover {
    transform: none;
  }

  .open #navi {
    left: 0;
    opacity: 1;
  }

  #navi ul {
    margin: 0;
    padding: 0;
  }

  #navi ul.nav-menu {
    margin-bottom: 60px;
  }

  #navi ul.nav-menu li {
    position: relative;
    margin: 0;
    padding: 20px 0;
  }

  #navi ul.nav-sns li {
    padding: 5px 0;
  }

  .toggle_btn {
    width: 40px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 20;
    position: relative;
  }

  .toggle_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    transition: all 0.5s;
  }

  .toggle_btn span:nth-child(1) {
    top: 22%;
  }

  .toggle_btn span:nth-child(2) {
    top: 50%;
  }

  .toggle_btn span:nth-child(3) {
    top: 78%;
  }

  .open .toggle_btn span {
    background-color: #fff;
  }

  .open .toggle_btn span:nth-child(1) {
    top: 50%;
    -webkit-transform: rotate(-315deg);
    transform: rotate(-315deg);
  }

  .open .toggle_btn span:nth-child(2) {
    opacity: 0;
  }

  .open .toggle_btn span:nth-child(3) {
    top: 50%;
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
  }

  #mask {
    display: none;
    transition: all 0.5s;
  }

  .open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    z-index: 10;
    cursor: pointer;
  }

  /*-------------------------------------------
  Main
  -------------------------------------------*/
  .main-word {
    transform: translate(-50%, -20%);
    display: inline-block;
    text-align: left;
    writing-mode: vertical-rl;
  }

  .sub-word {
    font-size: 5em;
  }


  /*-------------------------------------------
  About
  -------------------------------------------*/
  .about-text {
    width: 100%;
    font-size: 1.5em;
  }

  /*-------------------------------------------
  Concept
  -------------------------------------------*/
  .concept-word {
    display: none;
  }

  .container-1 {
    width: 100%;
    margin: 0;
    margin-top: 5%;
  }

  .container-2 {
    width: 100%;
    margin: 0;
    margin-top: 5%;
  }

  .fade li {
    top: 20%;
  }

  .container-3 {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 5%;
  }

  .interior-image-1,
  .interior-image-2 {
    width: 100vw;
    margin: 0;
    margin-top: 5%;
  }

  /*-------------------------------------------
  Menu
  -------------------------------------------*/


  #menu .grid .item-content {
    padding: 16px;
  }

  #menu .grid {
    margin-bottom: 3px;
  }

  .item dl {
    width: 100%;
    font-size: 1.1rem;
    padding-bottom: 10%;
  }

  #food-menu {
    display: flex;
  }

.item {
  height: 120vh;
}

#menu .item-content {
height: 120vh;
padding-bottom: 20px;
}
  .item-content dt {
    width: 80%;
    padding: 0;
    padding-right: 3%;
  }

  .item-content dd {
    padding: 0;
  }

  /*-------------------------------------------
  Access
  -------------------------------------------*/
  .contact-info {
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 400px) {
  .sub-word{
    display: none;
  }

.about-text{
  font-size: 1.1rem;
}

#menu {
  padding: 120px 0px 0px;
}

.item {
  height: 120vh;
}

.item dl {
  padding: 0;
}

#menu .item-content {
  padding: 0;
}
}
